.shcalendar-categories {
    display: flex;
}

.shcalendar-categories h3 {
    font-size: 1rem;
    line-height: inherit;
    margin-bottom: 0;
}

.shcalendar-category-list {
	list-style-type: none;
  display: inline-flex;
}
.displaycat-book {
  padding-left: .6em;
}

.displaycat-book a::before {
	content: '';
  display: inline-block;
	height: .8em;
	width: 1.2em;
	background-size: contain;
	background-repeat: no-repeat;
}

.displaycat-book a[href*="denson"]:before {
  background-image: url('../img/denson.svg');
}

.displaycat-book a[href*="cooper"]:before {
	background-image: url('../img/cooper.svg');
}

.displaycat-book a[href*="christian"]:before {
	background-image: url('../img/christianharmony.svg');
}

.displaycat-book a[href*="shenandoah"]:before {
	background-image: url('../img/shenandoah.svg');
}
